html[lang=ru] .lang-link.ru,
html[lang=en] .lang-link.en {
   pointer-events: none;
   cursor: default;
   color: #777;
}

#ankostyuk-page {
    margin-top: 20px;
    /*visibility: hidden;*/
}
/*#ankostyuk-page.ready {
    visibility: visible;
}*/

#ankostyuk-page [page-header] {
    margin-top: 0;
}
