h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

html[lang="ru"] .ap-lang-switcher__link_ru,
html[lang="en"] .ap-lang-switcher__link_en {
   pointer-events: none;
   cursor: default;
   color: #777;
}

.ankostyuk-page {
    margin-top: 20px;
    padding-bottom: 20px;
    visibility: hidden;
}
.ankostyuk-page_ready {
    visibility: visible;
}

.ap-page-header {
    margin-top: 0;
}

.ap-tags-bar {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.ap-tags-bar:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    height: 1px;
    background-color: #ccc;
}
.ap-tags-bar__toggle {
    color: #333 !important;
}
.ap-tags-bar__toggle_active {
    color: #337ab7 !important;
}

.ap-anchor-block {
    position: relative;
}
.ap-anchor-block__anchor {
    position: absolute;
    display: block;
    height: 100%;
    margin-left: -1em;
    padding-right: 0.5em;
    text-decoration: none !important;
    opacity: 0;
}
.ap-anchor-block:hover .ap-anchor-block__anchor {
    opacity: 0.5;
}
.ap-anchor-block__anchor:hover {
    opacity: 1 !important;
}
.ap-anchor-block__anchor::after {
    content: "#"
}

.ap-intro {
    padding-top: 10px;
}

.ap-block-header {
    margin-top: 30px;
    margin-bottom: 10px;
}
.ap-block-header__title {
    margin-top: -4px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.25;
}

/* Bootstrap print fix */
@media print {
  /**,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }*/
  a,
  a:visited {
    /*text-decoration: underline;*/
    text-decoration: none !important;
    color: #286090 !important;
  }
  a[href]:after {
    /*content: " (" attr(href) ")";*/
    content: "" !important;
  }
  abbr[title]:after {
    /*content: " (" attr(title) ")";*/
    content: "" !important;
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "" !important;
  }
  /*pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }*/
}
