<script id="ap-page-header" type="text/template">
    Andrew Kostyuk
</script>

<script id="ap-contacts-location" type="text/template">
    <p>Moscow, Russia</p>
</script>

<script id="ap-experience-title" type="text/template">
    Experience
</script>
<script id="ap-experience" type="text/template">
    TODO
</script>

<script id="ap-education-title" type="text/template">
    Education
</script>
<script id="ap-education" type="text/template">
    <div class="row">
        <div class="col-xs-6">
            <p>Postgraduate specialization course "Automation of technological processes" of Moscow State Industrial University, 2003–2006</p>
        </div>
        <div class="col-xs-6">
            <p>Applied mathematics and physics department of Moscow State Industrial University, 1995–2001</p>
            <p>Engineer's degree, Automation of technological processes.</p>
        </div>
    </div>
</script>
