<script id="ap-page-header-title" type="text/template">
    Andrew Kostyuk
</script>

<script id="ap-tools-print" type="text/template">
    Print...
</script>

<script id="ap-tools-pdf" type="text/template">
    <a href="files/kostyuk-andrew-resume-en.pdf">Open PDF</a>
</script>

<script id="ap-contacts-location" type="text/template">
    <p>Moscow, Russia</p>
</script>

<script id="ap-contacts-linkedin" type="text/template">
    <a href="https://www.linkedin.com/in/ankostyuk/en">linkedin.com/in/ankostyuk/en</a>
</script>

<script id="ap-intro" type="text/template">
    Have 10+ years experience of commercial development.
    Know the full cycle of software development from requirements analysis and design to task description to programmers, development and release of the product.
    Have a strategic vision of the product and an attention to details.
    I’m looking for interesting projects with open positions of full stack developer, teamlead, development manager.
</script>

<script id="ap-technical-skills-title" type="text/template">
    Technical Skills
</script>
<script id="ap-technical-skills" type="text/template">
    <ul class="ap-list-item-spacing list-unstyled">
        <li>Development: Team and development management, Requirements analysis, Designing systems, <span ap-technical-skills-development></span>.</li>
        <li>Programming languages: <span ap-technical-skills-plang></span>.</li>
        <li>Frontend: <span ap-technical-skills-frontend></span>.</li>
        <li>Backend: <span ap-technical-skills-backend></span>.</li>
        <li>Web: <span ap-technical-skills-web></span>.</li>
        <li>Data storage: <span ap-technical-skills-data-storage></span>.</li>
        <li>Testing: Unit testing, Integration testing, Alpha/Beta testing, <span ap-technical-skills-testing></span>.</li>
        <li>VCS: <span ap-technical-skills-vcs></span>.</li>
        <li>Bug tracking: <span ap-technical-skills-bug-tracking></span>.</li>
        <li>OS: <span ap-technical-skills-os></span>.</li>
    </ul>
</script>

<script id="ap-experience-title" type="text/template">
    Experience
</script>

<script id="ap-experience-nkb-link-genitive" type="text/template">
    <a href="http://www.creditnet.ru/?lang=en">National Credit Bureau</a>
</script>
<script id="ap-experience-project-nkb-product-link-rsearch-selfemployed" type="text/template">
    <a href="http://www.creditnet.ru/hyper/?q=315774600404327&lang=en">Self-employed information</a>
</script>
<script id="ap-experience-project-nkb-product-link-rsearch" type="text/template">
    <a href="http://www.creditnet.ru/hyper/?q=78486593&lang=en">Unisearch</a>
</script>
<script id="ap-experience-project-nkb-product-link-relations" type="text/template">
    <a href="http://www.creditnet.ru/nkbrelation/report/?report.sharekey=tgsdesazrsnikjep&lang=en">The Analysis Of Affiliated Persons And Final Beneficiaries</a>
</script>
<script id="ap-experience-item-7-project-nkb-preview" type="text/template">
    <a class="ap-project-preview" href="images/nkb/rsearch-selfemployed-en.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/rsearch-selfemployed-preview.png"></span></a>
    <a class="ap-project-preview" href="images/nkb/relations-history-en.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/relations-history-preview.png"></span></a>
    <a class="ap-project-preview" href="images/nkb/connections.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/connections-preview.png"></span></a>
</script>
<script id="ap-experience-item-6-project-nkb-preview" type="text/template">
    <a class="ap-project-preview" href="images/nkb/rsearch-en.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/rsearch-preview.png"></span></a>
    <a class="ap-project-preview" href="images/nkb/relations-en.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/relations-preview.png"></span></a>
    <a class="ap-project-preview" href="images/nkb/comments-en.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/comments-preview.png"></span></a>
</script>

<script id="ap-experience" type="text/template">
    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Lead Developer</div>
                <div class="ap-block-header__text">November 2015 – Present</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    Self-employed
                </div>
            </div>
        </div>
        <p>
            Guide implemented projects for <span ap-experience-nkb-link-genitive></span> Economic Security Service.
            Design and develop software. Analyse business requirements and work out specifications.
        </p>
        <div class="media ap-project-description">
            <div class="media-body">
                <p>Designed the support of <span ap-experience-project-nkb-product-link-rsearch-selfemployed></span> and developed frontend.</p>
                <p>
                    Developed the algorithm for determining the historical connections based on the nondistinct data to support the history of relationships between companies and individuals
                    for <span ap-experience-project-nkb-product-link-rsearch></span> and <span ap-experience-project-nkb-product-link-relations></span>,
                    developed frontend.
                </p>
                <p>Designed service of "Search For Signs Of Conflict Of Interest" – multi-faceted verification of relationships between companies lists and individuals, <a href="https://github.com/ankostyuk/demo-connections-ui">developed</a> frontend.</p>
                <p><a href="https://github.com/ankostyuk/demo-relations/blob/master/docs/api.md">Designed and developed</a> public API of companies and individuals relationships for the <span ap-experience-nkb-link-genitive></span> Economic Security Service.</p>
                <p>Technologies: <span ap-experience-item-7-project-nkb-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-7-project-nkb-preview></div>
        </div>
        <p>Managed the development and release of the <span ap-experience-nkb-link-genitive></span> products, held technical interviews.</p>
    </div>

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Lead Developer, CEO, Co-founder</div>
                <div class="ap-block-header__text">July 2012 – November 2015</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    [nullpointer]
                </div>
                <div class="ap-block-header__text">
                    Outsourcing company. Moscow, Russia. <a href="http://null-pointer.ru">null-pointer.ru</a>
                </div>
            </div>
        </div>
        <p>
            Founded a company, specializing on software development.
            Arranged business relations with clients, planned a budget and managed progects.
            Designed and developed software.
            Analysed business requirements and worked out specifications.
            Formed a software development team, held technical interviews.
            Led software development team, consisting of 2-7 members.
        </p>
        <p>Our team executed following projects...</p>
        <div class="media ap-project-description">
            <p class="ap-mark-as-item">
                New products of <span ap-experience-nkb-link-genitive></span> Economic Security Service:
            </p>
            <ul class="ap-list-item-spacing">
                <li>
                    <span ap-experience-project-nkb-product-link-rsearch></span>.
                    Search of the companies and individuals by the names, TIN, main state registration number, address, phone number.
                    By means of this search you get the detailed information about companies and individuals and their relationships.
                </li>
                <li>
                    <span ap-experience-project-nkb-product-link-relations></span>.
                    Information about relationships between companies and individuals being their owners and leaders, or having indirect coupling as relatives, purchasing participants or as persons related to other associated companies.
                    Illustrative multi-tiered analysis of the property and corporate management structure, automated search of relationships and their graphical schemes construction, export of the schemes into various formats and publication.
                </li>
                <li>
                    Commenting System.
                    Notes to companies analytics reports, comments tagging, file attaching and comments administration.
                    Commentary widget can be placed on any page of the site.
                </li>
            </ul>
            <p>These products attracted new clients and increased <span ap-experience-nkb-link-genitive></span> volume of sales by 30%.</p>
            <div class="media-body">
                <p>I promoted some of my ideas and product functionality proposals, managed the development and product release.</p>
                <p><a href="https://github.com/ankostyuk/demo-extraneous">Developed</a> the service of receiving information about companies and individuals from the internet resourсes.</p>
                <p><a href="https://github.com/ankostyuk/demo-rsearch">Designed and developed</a> UI and frontend of the <span ap-experience-project-nkb-product-link-rsearch></span>.</p>
                <p><a href="https://github.com/ankostyuk/demo-relation-ui">Designed and developed</a> UI and frontend of the <span ap-experience-project-nkb-product-link-relations></span> and <a href="https://github.com/ankostyuk/demo-relations">developed</a> the export of cloud diagram into PNG, PDF, DOCX.</p>
                <p><a href="https://github.com/ankostyuk/demo-creditnet-comments/tree/master/webapp/src/main/webapp/static/components">Designed and developed</a> UI and frontend of the Commenting System.</p>
                <p>Created <a href="files/nkb/relations-presentation.pdf">the presentation of "The Analysis Of Affiliated Persons And Final Beneficiaries"</a> for <a href="https://nkb.timepad.ru/event/82749/">the conference held by National Credit Bureau</a>.</p>
                <p>Technologies: <span ap-experience-item-6-project-nkb-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-6-project-nkb-preview></div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    Payment-related solutions for <a href="https://engine.paymentgate.ru">Runet Business Systems</a>: Integration processing, payment gateways and online payment systems, Mobile banking USSD payment application, Mobile banking application REST API design, Social network application for mobile account deposit.
                </p>
                <p>Technologies: <span ap-experience-item-6-project-rbs-technologies></span>.</p>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    Convergent Billing System for video monitoring system belonging to <a href="https://www.ivideon.com/">Ivideon company</a>.
                </p>
                <p>I designed and developed API.</p>
                <p>Technologies: <span ap-experience-item-6-project-ivideon-technologies></span>.</p>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    Furniture online store <a href="http://2x2mebel.ru/about/">2×2 Mebel</a>.
                </p>
                <p>I developed frontend.</p>
                <p>Technologies: <span ap-experience-item-6-project-2x2mebel-technologies></span>.</p>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    <a href="https://github.com/newpointer/i18n-bin/blob/master/src/build.md">Designed and developed i18n-packages</a> for localization.
                    These packages are used for localization of frontend and backend of software solutions.
                </p>
                <p>Technologies: <span ap-experience-item-6-project-nullpointer-i18n-technologies></span>.</p>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    <a href="https://github.com/newpointer/web-app">Designed and developed web application build helper</a>.
                </p>
                <p>Technologies: <span ap-experience-item-6-project-nullpointer-webapp-technologies></span>.</p>
            </div>
        </div>
    </div>

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Java Developer</div>
                <div class="ap-block-header__text">January 2011 – January 2013</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    BPC Banking Technologies
                </div>
                <div class="ap-block-header__text">
                    Group of companies. Moscow, Russia. <a href="http://www.bpcbt.com/">bpcbt.com</a>
                </div>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p>Integrated <a href="http://www.aeroflot.ru/ru-en">Aeroflot</a> ticket booking system with <a href="http://www.sberbank.ru/en">Sberbank</a> payment gate.</p>
                <p>Designed and developed Fraud Control – system of fraud probability determination, based on the payment data and rules of fraud probability determination. This system was implemented in <a href="http://www.sberbank.ru/en">Sberbank</a> и <a href="http://alfabank.com/">Alfabank</a>.</p>
                <p>Technologies: <span ap-experience-item-5-project-bpc-technologies></span>.</p>
            </div>
        </div>
    </div>

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Frontend / Backend Developer, Co-founder</div>
                <div class="ap-block-header__text">January 2010 – January 2011</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    Bildika
                </div>
                <div class="ap-block-header__text">
                    B2C e-commerce startup. Moscow, Russia. <a href="http://bildika.ru">bildika.ru</a>
                </div>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p>Organized startup from idea to product launch, <a href="https://github.com/ankostyuk/demo-storefront">designed and developed</a> e-commerce system "<a href="http://bildika.ru">Construction And Repair Goods Market Aimed On Customer Convenience</a>".</p>
                <p>Technologies: <span ap-experience-item-4-project-bildika-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-4-project-bildika-preview></div>
        </div>
    </div>

    <div class="ap-experience-item ap-experience-item-3">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Lead Developer, Deputy Director</div>
                <div class="ap-block-header__text">May 2004 – January 2010</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    INT Projects
                </div>
                <div class="ap-block-header__text">
                    Outsourcing company. Moscow, Russia.
                </div>
            </div>
        </div>
        <p>Designed and developed software. Analysed business requirements and developed worked out specifications. Formed a software development team, held technical interviews. Led software development team, consisting of 2-5 members.</p>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">Designed and developed UI and frontend of the following projects:</p>
                <ul>
                    <li>Crude oil mining monitoring web application</li>
                    <li>Web based document management system</li>
                    <li>Web based system of the distance education</li>
                    <li>Automated system of decision system support in transport logistics</li>
                </ul>
                <p>Technologies: <span ap-experience-item-3-project-int-ui-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-3-project-int-ui-preview></div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">Designed and developed SDK for coding-decoding of bi-dimensional barcode PDF417, SDK for recognition of machine-readable passport-visa documents for "The State System of Production, Execution, And Control Of Passport-Visa Documents Of New Generation".</p>
                <p>Technologies: <span ap-experience-item-3-project-int-pdf417-ocr-technologies-p1></span>, Image processing, Artificial neural networks, Reed-Solomon codes.</p>
            </div>
            <div class="media-right" ap-experience-item-3-project-int-pdf417-ocr-preview></div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">Designed and developed Reporting System for "The State System of Production, Execution, And Control Of Passport-Visa Documents Of New Generation".</p>
                <p>Technologies: <span ap-experience-item-3-project-int-mrtd-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-3-project-int-mrtd-preview></div>
        </div>
    </div>

    <div class="ap-experience-item ap-experience-item-2">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Research Scientist</div>
                <div class="ap-block-header__text">May 2003 – October 2005</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    Scientific-research Department of Moscow State Industrial University
                </div>
                <div class="ap-block-header__text">
                    University. Moscow, Russia. <a href="http://mospolytech.ru/?eng">mospolytech.ru</a>
                </div>
            </div>
        </div>
        <p>Was engaged in scientific research, wrote scientific-research articles and reports.</p>
        <p>Developed firmware for the roughness  automated measurement and parameter estimation, based on the three-dimensional  analysis of the surface.</p>
        <p>Got the patent #2004612670 "Program Control Of A Surface Analyzer".</p>
        <p>Technologies: <span ap-experience-item-2-technologies-p1></span>, Electronics, Mechatronics, Signal processing, Fourier and wavelet transform.</p>
    </div>

    <div class="ap-experience-item ap-experience-item-1">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Software Developer</div>
                <div class="ap-block-header__text">1996 – 2005</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">Metrostroy, Moscow Joint-Stock Company "Likhachov Plant", Almazavtomatika</div>
            </div>
        </div>
        <p>Developed estimate-analytical software for the internal use in a building organization.</p>
        <p>Developed control and visualization UI of diamond cassette dispensing information system.</p>
        <p>Developed programming and software technology skills.</p>
        <p>Technologies: <span ap-experience-item-1-technologies></span>.</p>
    </div>
</script>

<script id="ap-education-title" type="text/template">
    Education
</script>
<script id="ap-education" type="text/template">
    <div class="row">
        <div class="col-sm-6">
            <p>Postgraduate specialization course "Automation of technological processes" of Moscow State Industrial University, 2003–2006</p>
        </div>
        <div class="col-sm-6">
            <p>Applied mathematics and physics department of Moscow State Industrial University, 1995–2001</p>
            <p>Engineer's degree, Automation of technological processes.</p>
        </div>
    </div>
</script>
