<script id="ap-contacts" type="text/template">
    <p><a href="mailto:andrew.kostyuk@gmail.com">andrew.kostyuk@gmail.com</a></p>
    <p><a href="https://www.linkedin.com/in/ankostyuk/en">linkedin.com/in/ankostyuk/en</a></p>
    <p><a href="https://github.com/ankostyuk">github.com/ankostyuk</a></p>
</script>

<script id="ap-experience-item-4-project-bpc-technologies" type="text/template">
    Java, SQL, XML, HTTP, Web Services, SOAP, Spring, Spring Security, iBatis, Hibernate, Mozilla Rhino, Jetty, Oracle Database, PostgreSQL, VAADIN, Freemarker
</script>

<script id="ap-experience-item-4-project-bildika-technologies" type="text/template">
    JavaScript, jQuery, HTML, CSS, Java, Spring, Spring Security, JSP, JSTL, Apache Tiles, iBatis, PostgreSQL, Apache Lucene, Apache Tomcat, SQL, XML
</script>
<script id="ap-experience-item-4-project-bildika-preview" type="text/template">
    <a class="ap-project-preview" href="images/bildika/bildika.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/bildika/bildika-preview.png"></span></a>
</script>

<script id="ap-experience-item-3-project-int-ui-technologies" type="text/template">
    JavaScript, ExtJS, jQuery, HTML, CSS, Prof-UIS, C/C++, Win32 API, GIS
</script>
<script id="ap-experience-item-3-project-int-ui-preview" type="text/template">
    <a class="ap-project-preview" href="images/int-projects/well-trends.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/int-projects/well-trends-preview.png"></span></a>
    <a class="ap-project-preview" href="images/int-projects/atl.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/int-projects/atl-preview.png"></span></a>
</script>
<script id="ap-experience-item-3-project-int-pdf417-ocr-technologies-p1" type="text/template">
    Java
</script>
<script id="ap-experience-item-3-project-int-pdf417-ocr-preview" type="text/template">
    <a class="ap-project-preview" href="images/int-projects/pdf417-ocr.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/int-projects/pdf417-ocr-preview.png"></span></a>
</script>
<script id="ap-experience-item-3-project-int-mrtd-technologies" type="text/template">
     Java, XML, XSL-T, XSL-FO, Apache FOP, JFreeChart
</script>
<script id="ap-experience-item-3-project-int-mrtd-preview" type="text/template">
    <a class="ap-project-preview" href="images/int-projects/mrtd.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/int-projects/mrtd-preview.png"></span></a>
</script>

<script id="ap-experience-item-2-technologies-p1" type="text/template">
    Java, С/С++
</script>

<script id="ap-experience-item-1-technologies" type="text/template">
    Assembler x86, С/С++
</script>

<script id="ap-demo-title" type="text/template">
    Code & Projects
</script>
<script id="ap-demo" type="text/template">
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt>Public</dt>
                <dd><a href="https://github.com/newpointer/autokad">github.com/newpointer/autokad</a></dd>
                <dd><a href="https://github.com/newpointer/i18n-bin">github.com/newpointer/i18n-bin</a></dd>
                <dd><a href="https://github.com/newpointer/i18n-js">github.com/newpointer/i18n-js</a></dd>
                <dd><a href="https://github.com/newpointer/i18n-java">github.com/newpointer/i18n-java</a></dd>
                <dd><a href="https://github.com/newpointer/web-bin">github.com/newpointer/web-bin</a></dd>
                <dd><a href="https://github.com/newpointer/web-app">github.com/newpointer/web-app</a></dd>
                <dd><a href="https://github.com/newpointer/commons-js">github.com/newpointer/commons-js</a></dd>
                <dd><a href="https://github.com/newpointer/webrender">github.com/newpointer/webrender</a></dd>
                <dd><a href="https://github.com/creditnet/connections_landing">github.com/creditnet/connections_landing</a></dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl>
                <dt>Private</dt>
                <dd><a href="https://github.com/ankostyuk/demo-rsearch">github.com/ankostyuk/demo-rsearch</a></dd>
                <dd><a href="https://github.com/ankostyuk/demo-connections-ui">github.com/ankostyuk/demo-connections-ui</a></dd>
                <dd><a href="https://github.com/ankostyuk/demo-extraneous">github.com/ankostyuk/demo-extraneous</a></dd>
                <dd><a href="https://github.com/ankostyuk/demo-relation-ui">github.com/ankostyuk/demo-relation-ui</a></dd>
                <dd><a href="https://github.com/ankostyuk/demo-relations">github.com/ankostyuk/demo-relations</a></dd>
                <dd><a href="https://github.com/ankostyuk/demo-storefront">github.com/ankostyuk/demo-storefront</a></dd>
            </dl>
        </div>
    </div>
</script>
