<script id="ap-contacts" type="text/template">
    <p><a href="mailto:andrew.kostyuk@gmail.com">andrew.kostyuk@gmail.com</a></p>
    <p><a href="https://www.linkedin.com/in/ankostyuk/en">https://www.linkedin.com/in/ankostyuk/en</a></p>
    <p><a href="https://github.com/ankostyuk">https://github.com/ankostyuk</a></p>
</script>

<script id="ap-experience-item-1-technologies" type="text/template">
    Assembler x86, С/С++
</script>

<script id="ap-demo-title" type="text/template">
    Code & Projects
</script>
<script id="ap-demo" type="text/template">
    <div class="row">
        <div class="col-xs-4">
            <dl>
                <dt>Public</dt>
                <dd><a href="https://github.com/newpointer/autokad">https://github.com/newpointer/autokad</a></dd>
                <dd><a href="https://github.com/newpointer/i18n-bin">https://github.com/newpointer/i18n-bin</a></dd>
                <dd><a href="https://github.com/newpointer/i18n-js">https://github.com/newpointer/i18n-js</a></dd>
                <dd><a href="https://github.com/newpointer/i18n-java">https://github.com/newpointer/i18n-java</a></dd>
                <dd><a href="https://github.com/newpointer/web-bin">https://github.com/newpointer/web-bin</a></dd>
                <dd><a href="https://github.com/newpointer/web-app">https://github.com/newpointer/web-app</a></dd>
                <dd><a href="https://github.com/newpointer/commons-js">https://github.com/newpointer/commons-js</a></dd>
                <dd><a href="https://github.com/newpointer/webrender">https://github.com/newpointer/webrender</a></dd>
                <dd><a href="https://github.com/creditnet/connections_landing">https://github.com/creditnet/connections_landing</a></dd>
            </dl>
        </div>
        <div class="col-xs-4">
            <dl>
                <dt>Private</dt>
                <dd><a href="https://github.com/ankostyuk/demo-rsearch">https://github.com/ankostyuk/demo-rsearch</a></dd>
                <dd><a href="https://github.com/ankostyuk/demo-connections-ui">https://github.com/ankostyuk/demo-connections-ui</a></dd>
                <dd><a href="https://github.com/ankostyuk/demo-extraneous">https://github.com/ankostyuk/demo-extraneous</a></dd>
                <dd><a href="https://github.com/ankostyuk/demo-relation-ui">https://github.com/ankostyuk/demo-relation-ui</a></dd>
                <dd><a href="https://github.com/ankostyuk/demo-relations">https://github.com/ankostyuk/demo-relations</a></dd>
            </dl>
        </div>
        <div class="col-xs-4">
            <dl>
                <dt>Legacy</dt>
                <dd><a href="https://github.com/ankostyuk/legacy">https://github.com/ankostyuk/legacy</a></dd>
            </dl>
        </div>
    </div>
</script>
