<script id="ap-page-header-title" type="text/template">
    Андрей Костюк
</script>

<script id="ap-tools-print" type="text/template">
    Печать...
</script>

<script id="ap-contacts-location" type="text/template">
    <p>Москва, Россия</p>
</script>

<script id="ap-intro" type="text/template">
    TODO
    <!-- <p>Я разработчик программного обеспечения с более чем 10-летним опытом коммерческой разработки.</p>
    <p>Основное направление – разработка пользовательских интерфейсов.</p>
    <p>Так же обладаю большим опытом серверной разработки на Java, опытом руководства группой разработки.</p>
    <p>Люблю и умею делать удобные и качественные пользовательские интерфейсы, пишу простой и элегантный программный код.</p>
    <p>Владею полным циклом разработки программных продуктов, от анализа требований и проектирования, до постановки задач разработчикам, реализации и вывода в продакшн.</p>
    TODO: Переработать -->
</script>

<script id="ap-technical-skills-title" type="text/template">
    Технические навыки
</script>
<script id="ap-technical-skills" type="text/template">
    TODO
    <!-- <p>Общие: UI, UX, SOA, OOP, TDD, Refactoring, Анализ бизнес требований, Проектирование систем</p>
    <p>Языки: JavaScript, Java, SQL, XML, Python</p>
    <p>Клиент: AngularJS, RequireJS, jQuery, Raphaël, Backbone.js, HTML, CSS, LESS, Bootstrap</p>
    <p>Веб: HTTP, REST, SOAP</p>
    <p>Фреймворки: Node.js, Spring, iBatis, Grunt</p>
    <p>Хранилища данных: PostgreSQL, MongoDB</p>
    <p>Системы контроля версий: Git, Mercurial, SVN</p>
    <p>Багтрекинги: Redmine, Jira</p>
    TODO: Переработать -->
</script>

<script id="ap-experience-title" type="text/template">
    Опыт работы
</script>
<script id="ap-experience" type="text/template">

    <!-- <p></p>
    <p></p>
    <p></p> -->

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-xs-12">
                <div class="ap-block-header__title">Индивидуальный предприниматель</div>
                <div class="ap-block-header__text">Ноябрь 2015 – настоящее время</div>
            </div>
        </div>
        TODO
    </div>

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-xs-4">
                <div class="ap-block-header__title">Ведущий разработчик, Директор, Соучредитель</div>
                <div class="ap-block-header__text">Июль 2012 – Ноябрь 2015</div>
            </div>
            <div class="col-xs-8">
                <div class="ap-block-header__title">
                    [nullpointer]
                </div>
                <div class="ap-block-header__text">
                    Аутсорсинговая компания. Москва, Россия. <a href="http://null-pointer.ru">null-pointer.ru</a>
                </div>
            </div>
        </div>
        TODO
    </div>

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-xs-4">
                <div class="ap-block-header__title">Java разработчик</div>
                <div class="ap-block-header__text">Январь 2011 – Январь 2013</div>
            </div>
            <div class="col-xs-8">
                <div class="ap-block-header__title">
                    BPC Banking Technologies
                </div>
                <div class="ap-block-header__text">
                    Группа компаний. Москва, Россия. <a href="http://www.bpcbt.com">bpcbt.com</a>
                </div>
            </div>
        </div>
        TODO
    </div>

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-xs-4">
                <div class="ap-block-header__title">Фронтенд / бэкенд разработчик, Соучредитель</div>
                <div class="ap-block-header__text">Январь 2010 – Январь 2011</div>
            </div>
            <div class="col-xs-8">
                <div class="ap-block-header__title">
                    Бильдика
                </div>
                <div class="ap-block-header__text">
                    B2C e-commerce стартап. Москва, Россия. <a href="http://bildika.ru">bildika.ru</a>
                </div>
            </div>
        </div>
        TODO
        <div class="media ap-project-description">
            <div class="media-body">
                <p><a href="https://github.com/ankostyuk/demo-storefront">Спроектировал и разработал</a> e-commerce систему "<a href="http://bildika.ru">Поиск и выбор товаров для строительства и ремонта</a>".</p>
                <p>Технологии: <span ap-experience-item-4-project-bildika-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-4-project-atl-preview></div>
        </div>
    </div>

    <div class="ap-experience-item ap-experience-item-3">
        <div class="row ap-block-header">
            <div class="col-xs-4">
                <div class="ap-block-header__title">Разработчик, Ведущий специалист, Заместитель генерального директора</div>
                <div class="ap-block-header__text">Май 2004 – Январь 2010</div>
            </div>
            <div class="col-xs-8">
                <div class="ap-block-header__title">
                    ИНТ Проекты
                </div>
                <div class="ap-block-header__text">
                    Аутсорсинговая компания. Москва, Россия.
                </div>
            </div>
        </div>
        TODO
        <div class="media ap-project-description">
            <div class="media-body">
                <p>Спроектировал и разработал интерфейсы в проектах:</p>
                <ul>
                    <li>Веб-интерфейс системы мониторинга комплекса добычи сырой нефти</li>
                    <li>Веб-ориентированная система электронного документооборота</li>
                    <li>Веб-ориентированная система дистанционного обучения</li>
                    <li>Автоматизированная система принятия решений в транспортной логистике</li>
                </ul>
                <p>Технологии: <span ap-experience-item-3-project-ui-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-3-project-ui-preview></div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p>Спроектировал и разработал библиотеку кодирования-декодирования двухмерного штрихкода PDF417, OCR-библиотеку распознавания машиночитаемой зоны документов для "Государственной системы изготовления, оформления и контроля паспортно-визовых документов нового поколения".</p>
                <p>Технологии: <span ap-experience-item-3-project-atl-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-3-project-atl-preview></div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p>Спроектировал и разработал систему построения отчетов для "Государственной системы изготовления, оформления и контроля паспортно-визовых документов нового поколения".</p>
                <p>Технологии: <span ap-experience-item-3-project-report-technologies></span>.</p>
            </div>
        </div>
    </div>

    <div class="ap-experience-item ap-experience-item-2">
        <div class="row ap-block-header">
            <div class="col-xs-4">
                <div class="ap-block-header__title">Младший научный сотрудник</div>
                <div class="ap-block-header__text">Май 2003 – Октябрь 2005</div>
            </div>
            <div class="col-xs-8">
                <div class="ap-block-header__title">
                    Научно-исследовательский сектор Московского государственного индустриального университета
                </div>
                <div class="ap-block-header__text">
                    Высшее учебное заведение. Москва, Россия. <a href="http://mospolytech.ru/">mospolytech.ru</a>
                </div>
            </div>
        </div>
        <p>Занимался научными изысканиями, написанием научно-исследовательских статей и отчетов.</p>
        <p>Разработал аппаратно-программный комплекс для автоматизированного измерения и оценки параметров шероховатости на основе трехмерного анализа поверхности.</p>
        <p>Технологии: Java, С/С++, Электроника, Механотроника, Обработка сигналов, Фурье и Вейвлет преобразования.</p>
    </div>

    <div class="ap-experience-item ap-experience-item-1">
        <div class="row ap-block-header">
            <div class="col-xs-4">
                <div class="ap-block-header__title">Инженер-программист</div>
                <div class="ap-block-header__text">1996 – 2003</div>
            </div>
            <div class="col-xs-8">
                <div class="ap-block-header__title">СМУ-3 Метростроя, АМО ЗИЛ, Алмазавтоматика</div>
            </div>
        </div>
        <p>Разработал сметно-аналитическое программное обеспечение для внуреннего использования в строительной организации.</p>
        <p>Разработал пользовательский интерфейс управления и визуализации информационной системы кассетной раскладки алмазов.</p>
        <p>Учился программировать и разарабатывать программное обеспечение.</p>
        <p>Технологии: <span ap-experience-item-1-technologies></span>.</p>
    </div>
</script>

<script id="ap-education-title" type="text/template">
    Образование
</script>
<script id="ap-education" type="text/template">
    <div class="row">
        <div class="col-xs-6">
            <div class="ap-block-header ap-block-header_plain"><div class="ap-block-header__title">Московский государственный индустриальный университет, 2003–2006</div></div>
            <p>Аспирантура по специальности "Автоматизация технологических процессов и производств"</p>
        </div>
        <div class="col-xs-6">
            <div class="ap-block-header ap-block-header_plain"><div class="ap-block-header__title">Московский государственный индустриальный университет, 1995–2001</div></div>
            <p>Факультет "Прикладная математика и техническая физика"</p>
            <p>Инженер по специальности "Автоматизированные системы управления технологическими процессами и производствами"</p>
        </div>
    </div>
</script>
