<script id="ap-page-header-title" type="text/template">
    Андрей Костюк
</script>

<script id="ap-tools-print" type="text/template">
    Печать...
</script>

<script id="ap-tools-pdf" type="text/template">
    <a href="files/ankostyuk-ru.pdf">Открыть PDF</a>
</script>

<script id="ap-contacts-location" type="text/template">
    <p>Москва, Россия</p>
</script>

<script id="ap-contacts-linkedin" type="text/template">
    <a href="https://www.linkedin.com/in/ankostyuk/ru">linkedin.com/in/ankostyuk/ru</a>
</script>

<script id="ap-intro" type="text/template">
    Более 10 лет опыта коммерческой разработки.
    Владею полным циклом разработки программных продуктов, от анализа требований и проектирования, до постановки задач разработчикам, реализации и вывода в продакшн.
    Стратегическое видение продукта и внимание к деталям.
    Могу быть полезен в качестве фулстек-разработчика, тимлида, руководителя разработки.
</script>

<script id="ap-technical-skills-title" type="text/template">
    Технические навыки
</script>
<script id="ap-technical-skills" type="text/template">
    <ul class="ap-list-item-spacing list-unstyled">
        <li>Разработка: Управление командой и разработкой, Анализ требований, Проектирование систем, <span ap-technical-skills-development></span>.</li>
        <li>Языки программирования: <span ap-technical-skills-plang></span>.</li>
        <li>Фронтенд: <span ap-technical-skills-frontend></span>.</li>
        <li>Бэкенд: <span ap-technical-skills-backend></span>.</li>
        <li>Веб: <span ap-technical-skills-web></span>.</li>
        <li>Хранилища данных: <span ap-technical-skills-data-storage></span>.</li>
        <li>Тестирование: Юнит-тестирование, Интеграционное тестирование, Альфа/Бета-тестирование, <span ap-technical-skills-testing></span>.</li>
        <li>Контроль версий: <span ap-technical-skills-vcs></span>.</li>
        <li>Багтрекинг: <span ap-technical-skills-bug-tracking></span>.</li>
        <li>ОС: <span ap-technical-skills-os></span>.</li>
    </ul>
</script>

<script id="ap-experience-title" type="text/template">
    Опыт работы
</script>

<script id="ap-experience-nkb-link-genitive" type="text/template">
    <a href="http://www.creditnet.ru/?lang=ru">Национального кредитного бюро</a>
</script>
<script id="ap-experience-project-nkb-product-link-rsearch-selfemployed" type="text/template">
    <a href="http://www.creditnet.ru/hyper/?q=315774600404327&lang=ru">сведений об индивидуальных предпринимателях</a>
</script>
<script id="ap-experience-project-nkb-product-link-rsearch" type="text/template">
    <a href="http://www.creditnet.ru/hyper/?q=78486593&lang=ru">Унифицированный поиск</a>
</script>
<script id="ap-experience-project-nkb-product-link-relations" type="text/template">
    <a href="http://www.creditnet.ru/nkbrelation/report/?report.sharekey=tgsdesazrsnikjep&lang=ru">Анализ аффилированных лиц и конечных бенефициаров</a>
</script>
<script id="ap-experience-item-7-project-nkb-preview" type="text/template">
    <a class="ap-project-preview" href="images/nkb/rsearch-selfemployed-ru.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/rsearch-selfemployed-preview.png"></span></a>
    <a class="ap-project-preview" href="images/nkb/relations-history-ru.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/relations-history-preview.png"></span></a>
    <a class="ap-project-preview" href="images/nkb/connections.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/connections-preview.png"></span></a>
</script>
<script id="ap-experience-item-6-project-nkb-preview" type="text/template">
    <a class="ap-project-preview" href="images/nkb/rsearch-ru.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/rsearch-preview.png"></span></a>
    <a class="ap-project-preview" href="images/nkb/relations-ru.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/relations-preview.png"></span></a>
    <a class="ap-project-preview" href="images/nkb/comments-ru.png"><span class="media-object ap-project-preview__image"><img class="media-object ap-project-preview__image__img" alt="" src="images/nkb/comments-preview.png"></span></a>
</script>

<script id="ap-experience" type="text/template">
    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Ведущий разработчик</div>
                <div class="ap-block-header__text">Ноябрь 2015 – настоящее время</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    Индивидуальный предприниматель
                </div>
            </div>
        </div>
        <p>
            Сопровождаю проекты, ранее реализованные <a href="http://null-pointer.ru">[nullpointer]</a> для сервиса экономической безопасности <span ap-experience-nkb-link-genitive></span>.
            Проектирую и разрабатываю программное обеспечение. Анализирую бизнес требования и разрабатываю спецификации.
        </p>
        <div class="media ap-project-description">
            <div class="media-body">
                <p>Спроектировал поддержку <span ap-experience-project-nkb-product-link-rsearch-selfemployed></span> и реализовал фронтенд.</p>
                <p>
                    Разработал алгоритм определения исторических связей на нечетких данных для поддержки
                    истории взаимосвязей компаний и физических лиц в продуктах <span ap-experience-project-nkb-product-link-rsearch></span> и <span ap-experience-project-nkb-product-link-relations></span>,
                    реализовал фронтенд.
                </p>
                <p>Спроектировал сервис "Поиск признаков конфликта интересов" – пакетная проверка взаимосвязей между списками компаний и физических лиц", <a href="https://github.com/ankostyuk/demo-connections-ui">реализовал</a> фронтенд.</p>
                <p><a href="https://github.com/ankostyuk/demo-relations/blob/master/docs/api.md">Спроектировал и разработал</a> публичный API взаимосвязей компаний и физических лиц сервиса экономической безопасности <span ap-experience-nkb-link-genitive></span>.</p>
                <p>Технологии: <span ap-experience-item-7-project-nkb-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-7-project-nkb-preview></div>
        </div>
        <p>Руководил разработкой и релизами продуктов <span ap-experience-nkb-link-genitive></span>, проводил технические собеседования.</p>
    </div>

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Ведущий разработчик, Директор, Соучредитель</div>
                <div class="ap-block-header__text">Июль 2012 – Ноябрь 2015</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    [nullpointer]
                </div>
                <div class="ap-block-header__text">
                    Аутсорсинговая компания. Москва, Россия. <a href="http://null-pointer.ru">null-pointer.ru</a>
                </div>
            </div>
        </div>
        <p>
            Основал компанию, специализирующуюся на разработке программного обеспечения на заказ.
            Выстраивал бизнес отношения с заказчиками, занимался финансовым планированием и управлял проектами.
            Проектировал и разрабатывал программное обеспечение. Анализировал бизнес требования и разрабатывал спецификации. Формировал команду разработки, проводил технические собеседования. Руководил командой разработки в составе 2–7 человек.
        </p>
        <p>Нашей командой были реализованы проекты...</p>
        <div class="media ap-project-description">
            <p class="ap-mark-as-item">
                Новые продукты сервиса экономической безопасности <span ap-experience-nkb-link-genitive></span>:
            </p>
            <ul class="ap-list-item-spacing">
                <li>
                    <span ap-experience-project-nkb-product-link-rsearch></span>.
                    Поиск компаний и физических лиц по наименованию, ИНН, ОГРН, адресу, телефону или ФИО.
                    В результате поиска предоставляется детальная информация о компаниях и физических лицах, а также сведения о взаимосвязях компаний и физических лиц.
                </li>
                <li>
                    <span ap-experience-project-nkb-product-link-relations></span>.
                    Информация о взаимосвязях между компаниями и физическими лицами, являющимися их владельцами или руководителями, или косвенно связанными как родственники, участники закупок или как имеющие отношение к другим связанным компаниям.
                    Схематический, многоуровневый анализ структуры собственности и корпоративного управления, автоматический поиск взаимосвязей и построение графических схем взаимосвязей, экспорт схем в различные форматы и публикация в виде ссылок.
                </li>
                <li>
                    Система комментирования.
                    Комментарии к аналитическим отчетам по компаниям, тегирование комментариев, прикрепление файлов и управление видимостью комментариев для других пользователей.
                    Виджет комментариев может быть размещен на любой странице сайта.
                </li>
            </ul>
            <p>Данные продукты привлекли новых клиентов и увеличили объем продаж <span ap-experience-nkb-link-genitive></span> на 30%.</p>
            <div class="media-body">
                <p>Я продвинул некоторые свои идеи и предложения по функциональности и развитию продуктов, руководил разработкой и релизами продуктов.</p>
                <p><a href="https://github.com/ankostyuk/demo-extraneous">Разработал</a> сервис получения информации о компаниях и физических лицах с интернет-ресурсов.</p>
                <p><a href="https://github.com/ankostyuk/demo-rsearch">Спроектировал и разработал</a> пользовательский интерфейс и фронтенд продукта <span ap-experience-project-nkb-product-link-rsearch></span>.</p>
                <p><a href="https://github.com/ankostyuk/demo-relation-ui">Спроектировал и разработал</a> пользовательский интерфейс и фронтенд продукта <span ap-experience-project-nkb-product-link-relations></span> и <a href="https://github.com/ankostyuk/demo-relations">разработал</a> экспорт схем взаимосвязей в форматы PNG, PDF, DOCX.</p>
                <p><a href="https://github.com/ankostyuk/demo-creditnet-comments/tree/master/webapp/src/main/webapp/static/components">Спроектировал и разработал</a> пользовательский интерфейс и фронтенд системы комментирования.</p>
                <p>Сделал <a href="files/nkb/relations-presentation.pdf">презентацию продукта Анализ аффилированных лиц и конечных бенефициаров</a> для <a href="https://nkb.timepad.ru/event/82749/">конференции Национального кредитного бюро</a>.</p>
                <p>Технологии: <span ap-experience-item-6-project-nkb-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-6-project-nkb-preview></div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    Платежные инструменты для <a href="https://engine.paymentgate.ru">Рунет Бизнес Системы</a>: Интеграция процессинговых, платежных шлюзов и систем онлайн-оплаты, Приложение мобильного банкинга с использованием сервиса USSD, REST протокол мобильного банк-клиента, Приложение в социальной сети для пополнения баланса мобильного телефона.
                </p>
                <p>Технологии: <span ap-experience-item-6-project-rbs-technologies></span>.</p>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    Конвергентная биллинговая система для облачного сервиса видеонаблюдения компании <a href="https://ru.ivideon.com/">Ivideon</a>.
                </p>
                <p>Я спроектировал и разработал API.</p>
                <p>Технологии: <span ap-experience-item-6-project-ivideon-technologies></span>.</p>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    Интернет-салон мебели <a href="http://2x2mebel.ru/about/">2×2 Мебель</a>.
                </p>
                <p>Я разработал фронтенд.</p>
                <p>Технологии: <span ap-experience-item-6-project-2x2mebel-technologies></span>.</p>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    <a href="https://github.com/newpointer/i18n-bin/blob/master/src/build.md">Cпроектировал и разработал i18n-пакеты</a> для локализации приложений.
                    Данные пакеты используются для локализации фронтенда и бэкенда программных продуктов.
                </p>
                <p>Технологии: <span ap-experience-item-6-project-nullpointer-i18n-technologies></span>.</p>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">
                    <a href="https://github.com/newpointer/web-app">Cпроектировал и разработал сборщик веб-приложений</a>.
                </p>
                <p>Технологии: <span ap-experience-item-6-project-nullpointer-webapp-technologies></span>.</p>
            </div>
        </div>
    </div>

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Java разработчик</div>
                <div class="ap-block-header__text">Январь 2011 – Январь 2013</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    BPC Banking Technologies
                </div>
                <div class="ap-block-header__text">
                    Группа компаний. Москва, Россия. <a href="http://www.bpcbt.ru/">bpcbt.ru</a>
                </div>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p>Проинтегрировал систему продажи билетов авиакомпании <a href="http://www.aeroflot.ru/ru-ru">Аэрофлот</a> с платежным шлюзом <a href="http://www.sberbank.ru/ru">Сбербанка</a>.</p>
                <p>Спроектировал и разработал "Систему определения и контроля мошеннических операций в электронной коммерции". Система внедрялась в <a href="http://www.sberbank.ru/ru">Сбербанк</a> и <a href="https://alfabank.ru/">Альфабанк</a>.</p>
                <p>Технологии: <span ap-experience-item-5-project-bpc-technologies></span>.</p>
            </div>
        </div>
    </div>

    <div class="ap-experience-item">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Фронтенд / бэкенд разработчик, Соучредитель</div>
                <div class="ap-block-header__text">Январь 2010 – Январь 2011</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    Бильдика
                </div>
                <div class="ap-block-header__text">
                    B2C e-commerce стартап. Москва, Россия. <a href="http://bildika.ru">bildika.ru</a>
                </div>
            </div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p>Организовал стартап: от идеи до вывода на рынок, <a href="https://github.com/ankostyuk/demo-storefront">спроектировал и разработал</a> e-commerce систему "<a href="http://bildika.ru">Поиск и выбор товаров для строительства и ремонта</a>".</p>
                <p>Технологии: <span ap-experience-item-4-project-bildika-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-4-project-bildika-preview></div>
        </div>
    </div>

    <div class="ap-experience-item ap-experience-item-3">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Разработчик, Ведущий специалист, Заместитель генерального директора</div>
                <div class="ap-block-header__text">Май 2004 – Январь 2010</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    ИНТ Проекты
                </div>
                <div class="ap-block-header__text">
                    Аутсорсинговая компания. Москва, Россия.
                </div>
            </div>
        </div>
        <p>Проектировал и разрабатывал программное обеспечение. Анализировал бизнес требования и разрабатывал спецификации. Формировал команду разработки, проводил технические собеседования. Руководил командой разработки в составе 2–5 человек.</p>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">Спроектировал и разработал пользовательские интерфейсы и фронтенд в проектах:</p>
                <ul>
                    <li>Веб-интерфейс системы мониторинга комплекса добычи сырой нефти</li>
                    <li>Веб-ориентированная система электронного документооборота</li>
                    <li>Веб-ориентированная система дистанционного обучения</li>
                    <li>Автоматизированная система принятия решений в транспортной логистике</li>
                </ul>
                <p>Технологии: <span ap-experience-item-3-project-int-ui-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-3-project-int-ui-preview></div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">Спроектировал и разработал библиотеку кодирования-декодирования двухмерного штрихкода PDF417, OCR-библиотеку распознавания машиночитаемой зоны документов для "Государственной системы изготовления, оформления и контроля паспортно-визовых документов нового поколения".</p>
                <p>Технологии: <span ap-experience-item-3-project-int-pdf417-ocr-technologies-p1></span>, Обработка изображений, Искусственные нейронные сети, Коды Рида-Соломона.</p>
            </div>
            <div class="media-right" ap-experience-item-3-project-int-pdf417-ocr-preview></div>
        </div>
        <div class="media ap-project-description">
            <div class="media-body">
                <p class="ap-mark-as-item">Спроектировал и разработал систему построения отчетов для "Государственной системы изготовления, оформления и контроля паспортно-визовых документов нового поколения".</p>
                <p>Технологии: <span ap-experience-item-3-project-int-mrtd-technologies></span>.</p>
            </div>
            <div class="media-right" ap-experience-item-3-project-int-mrtd-preview></div>
        </div>
    </div>

    <div class="ap-experience-item ap-experience-item-2">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Младший научный сотрудник</div>
                <div class="ap-block-header__text">Май 2003 – Октябрь 2005</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">
                    Научно-исследовательский сектор Московского государственного индустриального университета
                </div>
                <div class="ap-block-header__text">
                    Высшее учебное заведение. Москва, Россия. <a href="http://mospolytech.ru">mospolytech.ru</a>
                </div>
            </div>
        </div>
        <p>Занимался научными изысканиями, написанием научно-исследовательских статей и отчетов.</p>
        <p>Разработал аппаратно-программный комплекс для автоматизированного измерения и оценки параметров шероховатости на основе трехмерного анализа поверхности.</p>
        <p>Получил патент №2004612670 "Управляющая программа профилометром R2DHWCL".</p>
        <p>Технологии: <span ap-experience-item-2-technologies-p1></span>, Электроника, Механотроника, Обработка сигналов, Фурье и Вейвлет преобразования.</p>
    </div>

    <div class="ap-experience-item ap-experience-item-1">
        <div class="row ap-block-header">
            <div class="col-sm-4">
                <div class="ap-block-header__title">Инженер-программист</div>
                <div class="ap-block-header__text">1996 – 2005</div>
            </div>
            <div class="col-sm-8">
                <div class="ap-block-header__title">СМУ-3 Метростроя, АМО ЗИЛ, Алмазавтоматика</div>
            </div>
        </div>
        <p>Разработал сметно-аналитическое программное обеспечение для внуреннего использования в строительной организации.</p>
        <p>Разработал пользовательский интерфейс управления и визуализации информационной системы кассетной раскладки алмазов.</p>
        <p>Учился программировать и разарабатывать программное обеспечение.</p>
        <p>Технологии: <span ap-experience-item-1-technologies></span>.</p>
    </div>
</script>

<script id="ap-education-title" type="text/template">
    Образование
</script>
<script id="ap-education" type="text/template">
    <div class="row">
        <div class="col-sm-6">
            <div class="ap-block-header ap-block-header_plain"><div class="ap-block-header__title">Московский государственный индустриальный университет, 2003–2006</div></div>
            <p>Аспирантура по специальности "Автоматизация технологических процессов и производств"</p>
        </div>
        <div class="col-sm-6">
            <div class="ap-block-header ap-block-header_plain"><div class="ap-block-header__title">Московский государственный индустриальный университет, 1995–2001</div></div>
            <p>Факультет "Прикладная математика и техническая физика"</p>
            <p>Инженер по специальности "Автоматизированные системы управления технологическими процессами и производствами"</p>
        </div>
    </div>
</script>
