<script id="ap-page-header" type="text/template">
    Андрей Костюк
</script>

<script id="ap-contacts-location" type="text/template">
    <p>Москва, Россия</p>
</script>

<script id="ap-experience-title" type="text/template">
    Опыт работы
</script>
<script id="ap-experience" type="text/template">
    TODO
</script>

<script id="ap-education-title" type="text/template">
    Образование
</script>
<script id="ap-education" type="text/template">
    <p><strong>Московский государственный индустриальный университет, 2003–2006</strong></p>
    <p>Аспирантура по специальности "Автоматизация технологических процессов и производств"</p>
    <p><strong>Московский государственный индустриальный университет, 1995–2001</strong></p>
    <p>Факультет "Прикладная математика и техническая физика"</p>
    <p>Инженер по специальности "Автоматизированные системы управления технологическими процессами и производствами"</p>
</script>
